/* CSS3 TYPE RULES */
@font-face {
	font-family: "DX";
	src: url("Square 721 BT.ttf") format('truetype'),
	     url('square_721_bt-webfont.eot?#iefix') format('embedded-opentype');
}

* {
	margin: 0;
}

html {
	font-family: "DX", "Segoe UI", Verdana;
}

body {
	font-family: inherit;
	overflow:hidden;
	/*background-color: #1e1e1e;*/
	background-image: url(gfx/World_Map_Black_by_rubasu.jpg);
	background-size: 100% 100%;
	color: #00ff32;
}

#wrapper {
	overflow:hidden;
}

.green-border {
	border: 1px solid rgba(0, 255, 50, 0.75) !important;
}

.jp-winhandle {
	border-left: 10px solid rgba(0, 255, 50, 0.75);
	border-top: 25px solid rgba(0, 255, 50, 0.75);
	border-radius: 6px;
}

.jp-winhandle-left {
	border-left: 10px solid rgba(0, 255, 50, 0.75);
}

.jp-window {
	-moz-box-sizing: 	border-box;
	-ms-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    height: 96%;
    margin: 0 auto;
    position: relative;
    top: 4%;
    width: 98%;
}

.jp-window-left {
	-moz-box-sizing: 	border-box;
	-ms-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    height: 100%;
    position: relative;
    width: 98%;
}

.jp-button {
	height: 45%;
    width: 25%;
	border: 0;
	border-radius: 4px;
	font-family: inherit;
	font-size: 16px;

	background: rgb(52,220,80); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0ZGM1MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ4ZGM2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzEzYzczNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOWJkMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(52,220,80,0.75) 0%, rgba(72,220,99,0.75) 50%, rgba(19,0.7599,52,0.75) 51%, rgba(9,0.7589,39,0.75) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,220,80,0.75)), color-stop(50%,rgba(72,220,99,0.75)), color-stop(51%,rgba(19,0.7599,52,0.75)), color-stop(100%,rgba(9,0.7589,39,0.75))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(52,220,80,0.75) 0%,rgba(72,220,99,0.75) 50%,rgba(19,0.7599,52,0.75) 51%,rgba(9,0.7589,39,0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(52,220,80,0.75) 0%,rgba(72,220,99,0.75) 50%,rgba(19,0.7599,52,0.75) 51%,rgba(9,0.7589,39,0.75) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(52,220,80,0.75) 0%,rgba(72,220,99,0.75) 50%,rgba(19,0.7599,52,0.75) 51%,rgba(9,0.7589,39,0.75) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(52,220,80,0.75) 0%,rgba(72,220,99,0.75) 50%,rgba(19,0.7599,52,0.75) 51%,rgba(9,0.7589,39,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34dc50', endColorstr='#09bd27',GradientType=0 ); /* IE6-8 */

}


/* Login Box */

#login_wrapper {
	width: 640px;
	height: 335px;
	margin: 0 auto;
	position:relative;
	top: 25%;
}

#login_container {
	/*
	width: 50%;
	height: 40%;
	*/
	width: 640px;
	height: 268px;
	position:relative;
	border-radius: 6px 6px 0 0;
	/*margin: 0 auto;
	top: 30%;*/
}

#login_faq_wrapper {
	height: 30px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}

#login_faq {
	padding-top: 5px;
}

#login_window {
    left: 13px;
    position: absolute;
}

#logo {
    display: inline-block;
    float: left;
    height: 90%;
    left: 2.5%;
    position: relative;
    top: 5%;
    width: 40%;
}

#login_title {
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

#login_inputs_c {
    display: inline-block;
    float: right;
    height: 90%;
    position: relative;
    right: 2.5%;
    top: 5%;
    width: 52.5%;
}

#login_inputs {
	width: 100%;
	height: 85%;
}

.log-input {
	border: 0px solid black;
	border-radius: 0;
	background-color: rgba(10,138,35,0.2);
	width: 100%;
	height: 20%;
	color: #00ff32;
	padding-left: 20px;
	font-size: 16px;
	font-family: inherit;
	-moz-box-sizing: 	border-box;
	-ms-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
	box-sizing: 		border-box;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 	0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
	box-shadow: 		0 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}

#password_input {
	position:relative;
	top: 10%;
}

#loginbtn_wrapper {
	height: 40%;
    position: relative;
    top: 20%;
    width: 100%;
}



/* Copyright Notice */

#copyright_wrapper {
	width: 20%;
	height: 7.5%;
	position:absolute;
	bottom: 3%;
	left: 2%;
}

#copyright {
	position:relative;
	top: 16%;
	left: 5%;
	height: 67%;
}