{% for question in threadengine.Question.all %}

{{ question.id }}<br>
<a href="../../../jack/view/{{ question.user.id }}/">{{ question.user }}</a>&nbsp;<a href="../../../mp/{{question.user.id}}/">MP</a><br>
{{ question.Intitule }}<br>
{{ question.Text }}<br>
{% for tag in question.Tags.all %}
{{ tag.Nom }}
{% endfor %}
<br>

{% for skill in question.Skills.all %}
{% for sk in  skill.Skills.all %}
{{ sk.Nom }}
{% endfor %}
{{ skill.Level }}<br>
{% endfor %}

<br>
{% for carac in question.Caracs.all %}
{% for ca in  carac.carac.all %}
{{ ca.Nom }}
{% endfor %}
{{ carac.Level }}<br>
{% endfor %}


<br>
{% for item in question.Item.all %}
{% for it in  carac.Item.all %}
{{ it.Nom }}<br>
{% endfor %}
{% endfor %}
<br>
{% for tag in  question.Tags.all %}
#{{ tag.Name }} &nbsp;
{% endfor %}
{% endfor %}<br><br>

{% for  answer in threadengine.Answer.all %}
<-- #TODO -->
<-- faire le for proprement -->
<a href="../../../jack/view/{{ answer.user.id }}/">{{ answer.user }}</a>&nbsp;<a href="../../../mp/{{answer.user.id}}/">MP</a><br>
{{ answer.Text }}
{% for tag in  answer.Tags.all %}
#{{ tag.Name }} &nbsp;
{% endfor %}
<br><br>
{% endfor %}


<form action="../../../hand/view/{{ threadengine.id }}/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<br>