{{ profile.id }}<br>
{{ user.username }}<br>
{% for  skill in profile.Skills.all %}
{% for  sk in  skill.Skill.all %}
{{ sk.Nom  }}:
{{ skill.Level }}<br>
{% if skill.Private == False %}
{{ skill  }}:
{{ skill.Level }}<br>
{% endif %}
 {% endfor %}
 {% endfor %}
 {% for  carac in profile.Caracs.all %}
{% if carac.Private == false %}
{{ carac  }} :
{{ carac.level }}<br>
{% endif %}
 {% endfor %}
  {% for  item in profile.Items.all %}
{% if item.Private == false %}
{{ item  }}<br>
{% endif %}
{% endfor %}