<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{=URL('static', 'stylesheet.css')}}" />
	<link rel="icon" type="image/png" href="{{=URL('static','gfx/favicon.ico')}}"/>
	<!--[if gte IE 9]>
	<style>
		.jp-button {
			filter:none !important;
		}
	</style>
	<![endif]-->
</head>
<body bgcolor="#000000">
	<div id="wrapper">
		<div id="login_wrapper">
			<div id="login_container" class="jp-winhandle">
				<div id="login_window" class="jp-window"><!--style="clip: rect(0px, 657px, 0px, 0px);"-->
					<div id="logo">
						<!-- Do not put anything here -->
					</div>
					<div id="login_inputs_c">
						<div id="login_title">LOGIN</div>
						<div id="login_inputs">
							<input type="text" placeholder="Username" id="username_input" class="log-input" />
							<input type="password" placeholder="Password" id="password_input" class="log-input" />
							<div id="loginbtn_wrapper">
								<input type="checkbox" id="remember_input" style="margin-right:10px;"/>Remember me for 30 days<br/><br/>
								<button id="login_submit" class="jp-button">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="login_faq_wrapper" class="jp-winhandle-left">
				<div id="login_faq" class="jp-window-left">
					<span style="padding:0 50px;">FAQ</span><span>Vous avez une invitation? Follow the rabbit...</span>
				</div>
			</div>
		</div>
		<div id="copyright_wrapper" class="jp-winhandle-left">
			<div id="copyright_window" class="jp-window-left">
				<div id="copyright">
					copyright &copy; 2012 JackPoint<br/>
					Your name here
				</div>
			</div>
		</div>
	</div>
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
	-->
	<script src="{{=URL('static','js/jquery-1.7.1.min.js')}}"></script>
	<script src="{{=URL('static','js/jquery-ui-1.8.18.custom.min.js')}}"></script>
	<!--
	<script src="js/jquery.mousewheel.js"></script>
	<script src="js/mwheelIntent.js"></script>
	<script src="js/jquery.jscrollpane.min.js"></script>
	-->
	<script src="{{=URL('static','js/raphael-min.js')}}"></script>
	<script src="{{=URL('static','js/jackpoint.js')}}"></script>
</body>
</html>