
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http&nbsp;://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http&nbsp;://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Projet Jackpoint</title> 
    <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}">
</head>
<style>
body{
color:#b7d14e;
background-color:#000f00;
margin:4px;
margin-top:0px;
font-family:monospace;
}
a:link{
color:#94d118;
}
a:visited{
color:#94a443;
}</style>
{{include}}